spring:
  application:
    name: ticket-management

  jackson:
    time-zone: Asia/Taipei

server:
  port: ${PORT:8080}

springdoc:
  swagger-ui:
    path: /swagger

spring:
  datasource:
    url: ${JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:validate}
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-minutes: ${JWT_EXP_MINUTES:120}
